<!-- ---
import { COURSE_VOICES } from "../constants";
---

<section class="voice">
  <h2>修了者の声</h2>
  {
    COURSE_VOICES.map(({ image, alt, course, text1, text2 }) => (
      <div class="voice__container">
        <div class="voice__img">
          <img src={image} alt={alt} />
        </div>
        <div class="voice__text-box">
          <h3>{course}</h3>
          <dl>
            <dt>勉強になったこと</dt>
            <dd>{text1}</dd>
            <dt>大変だったこと</dt>
            <dd>{text2}</dd>
          </dl>
        </div>
      </div>
    ))
  }
</section>

<style>
  .voice {
    padding: 100px 4% 200px;
    background-color: #f6f6f9;
  }

  .voice h2 {
    max-width: 1140px;
    margin: auto;
  }

  .voice img {
    width: 100%;
  }

  .voice p, dt {
    margin-top: 20px;
  }

  .voice dd {
    margin-top: 10px;
  }

  .voice__container {
    background-color: #ffffff;
    display: flex;
    padding: 50px;
    gap: 0 60px;
    max-width: 1140px;
    margin: 60px auto 0;
  }

  .voice__img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
  }

  .voice__text-box {
    max-width: 830px;
  }

  @media screen and (max-width: 767px) {
    .voice__img {
      display: none;
    }
  }
</style> -->
