---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION,SITE_TITLE } from "../constants";

type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
const titleContent =
  title === undefined ? SITE_TITLE : `${title} - ${SITE_TITLE}`;
const siteDescription = description ?? SITE_DESCRIPTION;
const url = "https://will-promotion.github.io/"
const ogImage = new URL("/will-promotion.github.io/images/will-ogp.jpg", Astro.url);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content={SITE_TITLE} />
    <meta name="description" content={siteDescription} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={SITE_TITLE} />
    <meta property="og:description" content={siteDescription} />
    <meta property="og:image" content={ogImage} />
    <meta property="twitter:card" content="summary_large_image" />

    <title>{titleContent}</title>
    <link rel="shortcut icon" href="/will-promotion.github.io/will-fav.ico" type="image/ico" />
    <script src="https://kit.fontawesome.com/e3d049ce0d.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <Header>
      <slot />
    </Header>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
